.book-info-bg{
	font-family: 'Merriweather', serif;
	text-align: center;
	line-height: 1.3;
	padding-top: 2%;
	background: url('../../images/book_background.jpg') fixed;
	background-size: cover;
	color: white;
	height: 90vh;
}

.book-info-container{
	margin: 0 auto;
	width: 80%;
	background: rgba(218, 218, 218, 0.6);
	padding: 2%;
	margin: 1% auto;
	border-radius: 3%; 
	box-shadow: 2px 2px 10px white;
	text-shadow: 2px 2px black;
}

.book-info-layout{
	display: grid; 
	grid-template-columns: 1fr 1fr;
}

.book-info-title{
	margin-bottom: 15px;
}

.book-cover{
	height: 75%;
	margin-top: 5%;
}

.details a {
	text-shadow: none;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 736px) 
  and (orientation: portrait) {
  	.book-info-layout{
  		display: block;
  	}

  	.book-cover{
		width: 40%;
		margin-top: 2%;
		margin-bottom: 5%;
	}
}