.quote-container{
	background: url('../../images/huxley_landing.jpg');
	height: 92vh;
	background-size: cover;
}

.quote{
	font-family: 'Special Elite', cursive;
	font-size: 10pt;
	width: 80%;
	margin: 0 auto;
	padding-top: 2%;
	text-shadow: 2px 1px black;
	color: white;
	line-height: 1.2;
	text-align: center;
}

.home-title{
	width: 45%;
}

.publ{
	font-size: 12pt;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 736px) 
  and (orientation: portrait) {
  	.quote-container{
  		background-size: cover;
  		background-repeat: no-repeat;
  	} 
  	.quote{
  		font-size: 7pt;
  	}

  	.home-title{
		width: 75%;
		margin-bottom: 15%;
	}
}