@font-face {
  font-family: reachTheEnd;
  src: url(../../fonts/reach_the_end.otf);
}

.nav-flex{
	display: flex;
	flex-direction: row; 
	text-align: center;
	list-style-type: none;
	padding: 15px 15px;
	background: black;
	font-family: reachTheEnd;
	font-size: 24pt;
}

.home-link{
	flex: 1;
}

.works-link{
	flex: 1;
}

a:hover{
	text-shadow: 2px 2px gray;
}