@font-face {
  font-family: reachTheEnd;
  src: url(../../fonts/reach_the_end.otf);
}

.nav-flex{
	display: flex;
	flex-direction: row; 
	text-align: center;
	list-style-type: none;
	padding: 2% 2%;
	background: black;
	font-family: reachTheEnd;
	font-size: 24pt;
}

.home-link{
	flex: 1;
}

.works-link{
	flex: 1;
}

a:hover{
	text-shadow: 2px 2px gray;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 736px) 
  and (orientation: portrait) { 
  	.nav-flex{
  		font-size: 18pt;
  	}
}